/*COLOR DEFINITIONS*/
:root {
  --studip-background-color: #0d1117;
  --studip-text-color: #c9d1d9;
}

/*MAIN*/
body {
  color: var(--studip-text-color) !important;
  background-color: var(--studip-background-color) !important;
}
textarea {
  background-color: var(--studip-background-color) !important;
  color: white !important;
}
::placeholder {
  color: var(--studip-text-color) !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: var(--studip-text-color) !important;
}
::-ms-input-placeholder {
  color: var(--studip-text-color) !important;
}
select {
  color: var(--studip-text-color) !important;
  background-color: var(--studip-background-color) !important;
}
#barBottomContainer {
  background-color: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
}
#layout-sidebar,
#layout_container,
#page_title_container,
#flex-header,
#tabs,
#tabs2,
#layout_page,
#layout_content,
#layout_context_title,
#tabs li,
.smiley-tabs li,
.helpbar {
  background: var(--studip-background-color) !important;
}
#page_title_container,
#tabs {
  border-bottom: 0px !important;
  border-top: 0px !important;
  border: 0px !important;
}
#layout_wrapper #layout_page .tabs_wrapper {
  background-color: var(--studip-background-color) !important;
}
table.default > caption,
#tabs li.current,
#tabs li.current a,
#tabs li.current span.quiet,
.smiley-tabs li.current a,
.smiley-tabs li.current span.quiet,
body:not(.fixed) #barTopMenu a {
  color: var(--studip-text-color) !important;
}
#tabs a,
#tabs span.quiet,
.smiley-tabs a {
  color: var(--studip-text-color) !important;
}
tr.sortable,
table.default > thead > tr > th,
table.default > tbody > tr > th {
  background-color: #21262d !important;
  border: 0px !important;
}
table.default > tfoot > tr > td {
  background-color: var(--studip-background-color) !important;
}
a,
a:link,
a:visited {
  color: var(--studip-text-color) !important;
}
/*Link generell*/
a:hover,
a:active {
  color: white !important;
}
/*Link mouseover*/
article.studip header h1,
section.contentbox header h1 {
  color: white !important;
}
.helpbar {
  right: 0px !important;
}
.studip-widget .widget-header {
  background-color: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
  font-weight: normal !important;
}
.studip-widget {
  border: 1px solid var(--studip-background-color) !important;
  transition: none !important;
}
/*DRAG N DROP*/
.js .drag-and-drop {
  background-color: #21262d !important;
  color: var(--studip-text-color) !important;
}
/*NAVBAR*/
li.active {
  background: none !important;
  margin-left: -5px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  position: relative !important;
  margin-right: -5px !important;
}
.ui-dialog.studip-confirmation .ui-dialog-titlebar {
  background-color: var(--studip-text-color) !important;
  color: #000 !important;
  text-align: left !important;
}
#zurueckDiv,
#adressDiv,
#simpleSearchDiv,
.lectureItem0,
.lectureItem1 {
  border: 0px !important;
}
.lectureItem0,
.lectureItem1 {
  background-color: #21262d !important;
}
abbr {
  color: var(--studip-text-color) !important;
}
.lectureItemTitle {
  font-weight: bold !important;
}
*:focus,
.focus_box,
a.button:focus,
button.button:focus {
  outline: 0px !important;
}
/*NAVBAR SEARCH*/
input {
  background-color: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
}
#globalsearch-searchbar #globalsearch-list {
  background-color: var(--studip-background-color) !important;
}
/*NAVBAR USER ICON*/
#notification_marker {
  color: #28497c !important;
  background-color: var(--studip-background-color) !important;
}
.action-menu.avatar-menu .action-menu-content {
  background: var(--studip-background-color) !important;
  background-color: var(--studip-background-color) !important;
}
.action-menu.avatar-menu .action-menu-content div {
  color: var(--studip-text-color) !important;
}
/*SIDEMENU*/
.sidebar .sidebar-widget-header {
  background: #21262d !important;
  color: var(--studip-text-color) !important;
  padding-left: 10px !important;
}
.sidebar-widget-content {
  background: var(--studip-background-color) !important;
  border-top: 0px !important;
}
.sidebar .sidebar-widget,
.sidebar .sidebar-widget-placeholder {
  border: 0 !important;
}
div.messagebox_info {
  color: white !important;
  background-color: #21262d !important;
  border-color: #21262d !important;
}
article.studip,
section.contentbox {
  border-color: var(--studip-background-color) !important;
}
article.studip header,
section.contentbox header {
  background-color: #21262d !important;
}
ul#tabs {
  padding-top: 10px !important;
}
/*STUNDENPLAN*/
table#schedule_data thead tr td,
table#schedule_data tbody td:first-child,
div.schedule_hours,
.fc-time,
.fc-widget-header {
  background-color: #21262d !important;
  color: var(--studip-text-color) !important;
}
.fc-unthemed .fc-content, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-list-heading td, 
.fc-unthemed .fc-list-view, 
.fc-unthemed .fc-popover, 
.fc-unthemed .fc-row, 
.fc-unthemed tbody, 
.fc-unthemed td, 
.fc-unthemed th, 
.fc-unthemed thead {
  border-color: black !important;
}
.fc .fc-button-group .fc-button:not(:hover) {
  background-color: #212224 !important;
}
div.schedule_day {
  border-right: 2px double #21262d !important;
}
nav.calendar-nav .calhead,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212224 !important;
  font-weight: normal !important;
}


.studip-tooltip {
  background-image: linear-gradient(to bottom, #21262d, #21262d) !important;
  border: 0px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 0px 0px !important;
  -moz-box-shadow: 0 0px 0px !important;
  box-shadow: 0 0px 0px !important;
  text-shadow: 0 0px 0px !important;
}
/*STUDIUM -> ABLAUFPLAN*/
table.dates .nextdate {
  background-color: #151c25 !important;
}
/*NACHRICHTEN*/
body#messages-overview {
  background-color: var(--studip-background-color) !important;
}
.ui-dialog.ui-widget.ui-widget-content {
  border: 0px !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}
.ui-widget-content {
  background: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
}
.message_body {
  background-color: #21262d !important;
  margin: 0px !important;
  margin-top: 5px !important;
  padding: 10px !important;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane {
  border-color: #2a3f5b !important;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane .ui-button,
a.button,
button.button {
  background: #21262d !important;
  border: 0 !important;
  color: var(--studip-text-color) !important;
  font-weight: normal !important;
}
article.studip header h1,
section.contentbox header h1 {
  color: var(--studip-text-color) !important;
}
/*GRUPPEN*/
section.course-statusgroups article section table tfoot tr td,
section.course-statusgroups article section table thead tr th {
  background-color: #21262d !important;
}
/*BLUBBER*/
.blubber_thread,
.blubber_thread .writer,
.blubber_thread ol.comments > li.theirs > .content:after {
  background-color: var(--studip-background-color) !important;
}
.blubber_thread ol.comments > li.theirs > .content {
  background-color: #212224 !important;
}
.blubber_thread ol.comments>li.theirs>.content:before {
  border-right-color: #212224 !important;
}
#blubber_threads > .thread > .contextinfo {
  background-color: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
}
#blubber_threads .comments {
  background-color: var(--studip-background-color) !important;
  border-top: 1px solid var(--studip-background-color) !important;
  background-color: var(--studip-background-color) !important;
}
#blubber_threads .comments .posting {
  background-color: var(--studip-background-color) !important;
}
/*ANKÜNDIGUNGEN*/
form.default fieldset > legend {
  background-color: #21262d !important;
  color: var(--studip-text-color) !important;
}
form.default footer {
  background-color: #21262d !important;
}
div.messagebox_info {
  color: var(--studip-text-color) !important;
}
/*FORM*/
form.default input[type="date"],
form.default input[type="email"],
form.default input[type="number"],
form.default input[type="password"],
form.default input[type="tel"],
form.default input[type="text"],
form.default input[type="time"],
form.default input[type="url"],
form.default select,
form.default textarea {
  color: var(--studip-text-color) !important;
}
/*DoIT*/
.public-intro{
  background-color: #1f3f70 !important;
}

.msg-box-info{
  background-color: #2f2f306b !important;
  color: #f6f6f6 !important;
}
.public_thema_title, .thema-title-block, 
.aufgabe-title-block, .student_work_main{
  background-color:#2f2f306b !important;
}
.student_feedback_main{
  background-color: #27732d !important ;
}
/*MENSA WIDGET*/
.mensa-widget .current {
  background-color: #21262d !important;
}
/*COURSEWARE*/
#courseware * {
  background-color: var(--studip-background-color) !important;
}
#courseware .cw-sidebar .chapters-header,
#courseware ol.active-subchapter {
  background-color: #21262d !important;
}
/*LOGIN*/
div.index_container div.index_main {
  background-color: var(--studip-background-color) !important;
}
.main-login > .portal-login,
.main-login > .portal-help {
  background: var(--studip-background-color) !important;
}
.main-login label {
  color: var(--studip-text-color) !important;
}

h1 {
color: var(--studip-text-color);
}

label {
	color: #212224 !important;
	font-weight: normal !important;
}

/*FOOTER*/
#barBottomright,
#layout_footer {
  background: var(--studip-background-color) !important;
  color: var(--studip-text-color) !important;
}
#barBottomright > ul > li > a,
#layout_footer > ul > li > a {
  color: var(--studip-text-color) !important;
}

/*MISC*/
.css-tree ul li:last-child:before {
  background-color: var(--studip-background-color) !important;
}
.clockip {
  color: white !important;
}